extends ../../layout/default.pug
include ../../mixins/testDescription

block main
    h1 Tạo mới ca thi
    form#new-shift-form
        div.form-group
            label(for='edit-ma') Bài thi:
            select.form-control(id='edit-ma', name='test', required)
                each t in tests
                    option(value=t.MaBaiThi)= t.MaBaiThi + " - " + t.TenBaiThi
        div.form-group
            label(for='edit-start') Bắt đầu:
            input.form-control(type='datetime-local', id='edit-start', name='start', required)
        div.form-group
            label(for='edit-end') Kết thúc:
            input.form-control(type='datetime-local', id='edit-end', name='end', required)
        div.btn-new-student
            button.btn.btn-primary(type='button', onclick='createShiftSubmit()') Tạo mới
            button.btn.btn-secondary(type='button', onclick='shiftCancel()') Hủy
