extends ../../layout/default.pug
include ../../mixins/testDescription

block main
    + test-description()
    //- .dialog-overlay#dialogOverlay
    //-     // Nội dung của dialog
    //-     .dialog-content#dialogContent
    //-         p.sent#question-dialog Câu trả lời của bạn đã được gửi đi.
    //-         .footer-dialog
    //-             button#btn-close(onclick="closeDialog()")  Đóng
    .container-fluid.mt-4
        .card.mb-4
            div.d-flex.align-items-center.justify-content-between
                .form-group#fileUpload(style='margin-right: 15px;')
                    label(for='excelFile') Tải lên tệp (Excel):
                    input.form-control-file(type='file', id='excel-file', name='excelFile', accept='.xls,.xlsx')
                .form-group(style='margin-right: 15px;')
                    label(for='numQuestions') Số lượng câu hỏi:
                    input.form-control(type='number' id='numQuestions' value=0 readonly)
                button.btn.ptit-color.text-white.px-4.btn-responsive(onclick='Save()' id='save-question-list') Lưu danh sách câu hỏi

            .card-header.pb-0.ptit-color.c-white
                h6.mb-10 Danh sách câu hỏi
            .card-body
                #questionsContainer
            //- button(onclick="render()") thêm câu hỏi