doctype html
html
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/owl.carousel.min.css")
    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // Style
    link(rel="stylesheet", href="/css/loginUser.css")
    if data && data.title
        title= data.title
    else
        title Thay đổi mật khẩu

  body
    .content
      .container
        .row
          .col-md-6
            img(src="/static/images/undraw_remotely_2j6y.svg", alt="Image", class="img-fluid")
          .col-md-6.contents
            .row.justify-content-center
              .col-md-8
                .mb-4
                  h3(style="text-align: center;") Thay đổi mật khẩu

                  // Form xác định lại mật khẩu
                  form(id="passwordForm", action="/forgotPassword/changePassword", method="post")
                    .form-group
                      input(type="password", class="form-control", id="newPassword", name="newPassword", placeholder="Mật khẩu mới" required)

                    .form-group
                      input(type="password", class="form-control", id="confirmPassword", name="confirmPassword", placeholder="Xác nhận mật khẩu" required)

                    input(type="submit", value="Xác nhận", class="btn btn-block btn-primary", style="background-color: #c32b2b; color:white;")
                  br
                  span#passwordError.error
                  br
                  br 
                  if data && data.message
                    p.alert= data.message
    script.
      document.getElementById('passwordForm').addEventListener('submit', function(event) {
        const passwordInput = document.getElementById('newPassword').value;
        const confirmPasswordInput = document.getElementById('confirmPassword').value;
        const passwordErrorSpan = document.getElementById('passwordError');
        let valid = true;

        // Kiểm tra Mật khẩu
        const passwordCriteria = [
          { regex: /.{8,}/, message: 'Mật khẩu phải có ít nhất 8 ký tự !' },
          { regex: /[a-z]/, message: 'Mật khẩu phải có ít nhất một chữ cái thường !' },
          { regex: /[A-Z]/, message: 'Mật khẩu phải có ít nhất một chữ cái hoa !' },
          { regex: /[!@#$%^&*(),.?":{}|<>]/, message: 'Mật khẩu phải có ít nhất một ký tự đặc biệt !' }
        ];

        for (let criterion of passwordCriteria) {
          if (!criterion.regex.test(passwordInput)) {
            passwordErrorSpan.textContent = criterion.message;
            valid = false;
            break; // Dừng kiểm tra khi gặp lỗi đầu tiên
          }
        }

        if (passwordInput !== confirmPasswordInput) {
          passwordErrorSpan.textContent = 'Mật khẩu và xác nhận mật khẩu không khớp !';
          valid = false;
        }

        if (!valid) {
          event.preventDefault(); // Ngăn chặn form submit nếu có lỗi
        }
      });
